body{
	height:100%;
}

/*HEADER section*/
#HEADER{
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:0;
	
	background-color:#FF88FF;
	height: 30px;
	
}
#HEADER form{
	padding-top:2px;
	padding-left:5px;
}

/*CONTENT section*/
#CONTENT{
	border-style:dotted;
	position: absolute;
	left:0px;
	right:0px;
	z-index:-1;
	
	background-color:red;
	top: 35px;
	bottom:55px;
}
#CONTENT p{
	color: blue;
}

/*FOOTER section*/
#FOOTER{
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:0;
	
	background-color:#00FFFF;
	height: 30px;
}
#FOOTER h2{}

