body{
	height:100%;
}

/*HEADER section*/
.container{
	position: absolute;
	margin-left: 10px;

	width:100%;
	height: 50px;
	z-index:0;
}
.container #search_target{
	width: 50%;
}
.container #search_btn{
	margin-left: 10px;
}

/*CONTENT section*/
.mainViewStyle{
	background-color:#00FFFF;
	
	margin-bottom: 4px;
}

.flex-fill {
    min-height:100vh;
}

.imgsize{
	height:12%;
}
.blockspec{
	width:50px;
	height:50px;
}
.blockspec #img0{
	width:100%;
	height:100%;	
}

/*circle style*/
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type1 {
    width: 100px;
    height: 100px;
    background: #ccc;
}


