body{
	height:100%;
}

/*HEADER section*/
.container{
	position: absolute;
	margin-left: 10px;

	width:100%;
	z-index:0;
}
.container #search_target{
	width: 50%;
}
.container #search_btn{
	margin-left: 10px;
}

.searchVideo-textbar{
	height: 40px;
	width: 90%;
	
	font-size: 20px;
}

.searchVideo-btn{
	width: 40px;
	height: 40px;
}

.search-bar{
	height: 60px;
	padding: 0;
}

.search-box{
	position: absolute;
	background: #ff7675;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width: 250px;
	padding: 0 6px;
}
.search-btn{
	color: #ff7675;

	float: left;
	width: 40px;
	height: 40px;
	display: flex;
	
	border-radius: 50%;
	background: #ff7675;
	justify-content: center;
	align-items: center;
}
.search-txt{
	background: none;
	border: none;
	outline: none;

	float: left;
	padding: 0;
	color: black;

	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}

/*CONTENT section*/
.mainViewStyle{
	#background-color:#00FFFF;
	background: url('../element/bg4.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
}

.flex-fill {
    min-height:100vh;
}

.imgsize{
	height:12%;
}
.blockspec{
	position: relative;
	width: 100%;
}
.blockspec #img0{
	width:100%;
	height:100%;	
}

.rowBuffer{ 
	margin-top:5px;
	background-image: linear-gradient(#ffffff, #9198e5);
	filter:brightness(100%);
	filter:contrast(100%);
}

/*circle style*/
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type1 {
    width: 100px;
    height: 100px;
    background: #ccc;
}

/*video css*/
.videoFrameClass{
	height: 75%;
	margin-right: -20px; 
	margin-left: -20px;
}
.videoSrcClass{
	position: relative; 
	z-index: 1;
	height: 100%; 
	width: 100%; 
	pointer-events: auto
}
.videoScanFrmClass{
	position: absolute;
	border:3px;
	background-color: #92a8d1;
	z-index: 2;
	border-style: dotted;
}
/*imgList css*/
.imgListClass{
	height: 19%; 
	border-top: 5px solid grey; 
	margin-right: -20px; 
	margin-left: -20px; 
	overflow-y: hidden;
	overflow: hidden;
	white-space: nowrap;
}