<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!-- meta tag -->
    <meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Load static file-->
	{% load staticfiles %}

	<!--Script-->
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!--MAIN TITLE-->
    <title>{{title}}</title>
	<link rel="icon" href="{% static 'main/element/icon_0.png' %}" type="image/x-icon" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <button
		type="button"
		class="navbar-toggle collapsed"
		data-toggle="collapse"
		data-target="#navbar_collapse_list"
		aria-expanded="false"
	  >
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
		  
	  <div class="container">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Alias Note</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbar_collapse_list">
		  <ul class="nav navbar-nav navbar-right">
			
			<li><a href="#">Edit</a></li> 	<!--item1-->
			
			<li class="dropdown">			<!--item2 with dropdown-->
			  <a
				href="#"
				class="dropdown-toggle"
				data-toggle="dropdown"
				role="button"
				aria-haspopup="true"
				aria-expanded="false"
				>
				ImgList<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				<li><a href="#">Design</a></li>
				<li><a href="#">Development</a></li>
				<li><a href="#">Consulting</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	
	<div class="jumbotron">
	  <div class="container">
		<h1>Image List</h1>
		<br />
		<p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Video</a>
		</p>
	  </div>
	</div>
	
	<div class="container">
	  <div class="row">
		<div class="col-md-4">
		  <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
		  <h3>Cloud Computable</h3>
		  <p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
			tortor mauris condimentum nibh.
		  </p>
		</div>
		<div class="col-md-4">
		  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		  <h3>Backwards Compatible</h3>
		  <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
		</div>
		<div class="col-md-4">
		  <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
		  <h3>GUI Free</h3>
		  <p>
			Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
			tortor mauris condimentum nibh.
		  </p>
		</div>
	  </div>
	</div>

</body>
</html>
