<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!-- meta tag -->
    <meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--Load static file-->
	{% load staticfiles %}
	
	<!--CSS-->
	<link rel = "stylesheet" type="text/css" href = "{% static 'main/css/layout.css' %}" charset="utf-8">
	<link rel = "stylesheet" type="text/css" href = "{% static 'main/css/popup.css' %}" charset="utf-8">
	
	<!--Script-->
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="{% static 'main/scripts/main.js' %}"></script>
	<script src="{% static 'main/scripts/popup.js' %}"></script>
	<script src="{% static 'main/scripts/screenshot.js' %}"></script>
	<script src="{% static 'main/scripts/playercontrol.js' %}"></script>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link 	rel="stylesheet" 	
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			crossorigin="anonymous">

	<!--MAIN TITLE-->
    <title>{{title}}</title>
	<link rel="icon" href="{% static 'main/element/icon_0.png' %}" type="image/x-icon" />
</head>

<body>	
	<div class="wrapper container-fluid">
		<nav class="navbar navbar-expand-lg mb-0" style="margin-left: -15px; margin-right: -15px;">
			<!-- Navbar brand -->
			<h1 class="navbar-brand">
				<img src="{% static 'main/element/icon_0.png' %}" style="height: 100%; width: auto;"  class="d-inline-block align-top"/>
				<h1 id="videoTitle"></h1>
			</h1>

			<!-- Collapsible content -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="form-inline ml-auto">
					<div class="md-form my-0">
						<input 	id="searchID" 
								class="form-control mr-sm-2" style="width:500px; font-size: 25px;" 
								type="text" 
								placeholder="Search" 
								aria-label="Search">
					</div>
					<span id="search_btn" class="input-group-text purple lighten-3" style = 'font-size: 25px;'>
						<i class="fas fa-search text-white" aria-hidden="true"></i>
					</span>
				</div>

			</div>
			<!-- Collapsible content -->
		</nav>
	
		<!--main view-->
		<div class="row flex-fill mainViewStyle">
			<!--Video Bar-->
			<div class="col-sm-8">		
				<!--Video Player frame-->
				<div id='videoFrameId' class="videoFrameClass" videourl = "">
					<!--<div id="videoScanFrmId" class="videoScanFrmClass"></div>-->
					<div id="videoSrc" frameborder="1" class="videoSrcClass"></div>
				</div>
				
				<!--Collection-->
				<div id="screenshotList" class="imgListClass">
					<div class="row" style='height: 100%;'>
						<div class="col-sm-10" 
							 style=' border-style:solid; overflow:auto;'>
							<div id = 'imgList'></div>
						</div>
						<div class="col-sm-2">
							 <br>
							 <button id="screenshot_id" type="button" class="btn btn-lg">
								<i class="glyphicon glyphicon-picture"></i>
								ScreenShot
							 </button>
							 </br>
							 
							 <br>
							 <button id="editId" type="button" class="btn btn-lg btn-circle">
								<i class="fa fa-edit"></i>
								Edit
							 </button>
							 
							 <br>
							 <button id="downloadVideoId" type="button" class="btn btn-lg">
								<i class="fa fa-download" aria-hidden="true"></i>
								Download
							 </button>
							 </br>
						</div>
					</div>
				</div>
				
				<!--POP form-->					
				{% include 'popup.html' %}
			</div> <!--end of Video leftBar-->
			
			<!--Search Bar-->
			<div class="col-sm-4" style="border-left: 5px solid grey; height:100%;">
				<div id="searchInfoId" style=" height: 100%; overflow-y:scroll;">
				</div>
			</div> <!--end of mapView-->
		</div> <!--end of main_view-->
	</div> <!-- end of container-fluid -->

</body>
</html>