<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>	
	
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href = "{% static 'main/css/layout.css' %}"/>
</head>

<body>
	<div id="HEADER">
		<form method="get">
			<Input id="search_target" type="text" name="search_target">
			<Input id="search_btn" type="button" value="search"></button>
    	</form>		
	</div>
	<div id="CONTENT">
    	content 
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>result: <span id='msgcontent'></span></p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
	</div>
	<div id="FOOTER">
		history
	</div>
	
	
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#search_btn").click(function(){
				var search_msg = $("#search_target").val();
				$.get("/search/", {'search_msg' : search_msg}, function(ret){
					$('#msgcontent').html(ret);
				})
			});
		});
	</script>
</body>
</html>
