<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>	
	
	{% load staticfiles %}
	<link rel = "stylesheet" type="text/css" href = "{% static 'main/css/layout.css' %}"/>
</head>

<body>
	<div id="HEADER">
		<form action='/search/' method="get">
			<Input id="search_target" type="text" name="search_target">
			<Input id="search_btn" type="submit" value="search"></button>
    	</form>		
	</div>
	<div id="CONTENT">
    	content 
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
		<p>content1</p>
	</div>
	<div id="FOOTER">
		history
	</div>
</body>
</html>
