<div id="popupImgForm" class="white_content">
	<div class="row popuprow">
		<div id='popupFormImgId' class="col-sm-10">
			<img id="popImgId" 
				 src="" 
				 name = ""
				 style='width: 100%; height: 100%; margin-right:-10%; margin-top:-5%'></img>
		</div>
		<div class="col-sm-2">
			<button id = 'btn_popImgSearch' class = "glyphicon glyphicon-search" style = 'font-size: 20px;'/>
			<button id = 'btn_popImgDel' class = "glyphicon glyphicon-erase"  style = 'font-size: 20px;'/>
		</div>
	</div>
	<div class="row">
		<textarea 	id="popupText" cols="5"; rows="2";
					col-text="";	
					style='font-size:20px; width: 100%; height: 100%; margin-top:2%;'></textarea>
	</div>
</div>